.bigIdea1 {
	color: purple;
	font-size: 110%;
}

.bigIdea2 {
	color: blue;
	font-size: 120%;
}

.bigIdea3 {
	color: green;
	font-size: 130%;
}

.bigIdea4 {
	color: yellow;
	font-size: 140%;
}

.bigIdea5 {
	color: orange;
	font-size: 150%;
}

.bigIdea6 {
	color:red;
	font-size: 160%;
}

/*
 * These sections ensure lists wrap text/columns properly
 */

#ideasPane { 
	width: 900px; 
	height: 320px;
	overflow-x: scroll;
	overflow-y: scroll;
}

.ideasPaneList {
	width: 750px; 
}

.wide {

}

.idea {
	/* border: solid 1px red; */
	height: 30px;
	width: 250px;
	display: inline-block;
	float: left 
}

.ui-draggable-disabled {
	opacity: 0.4;
}

#topBar {
	background-color: #CAE1FF;
	height: 110%;
	overflow: hidden;
}

#tipBox {
	border: 1px solid black;
	width: 240px;
  	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	margin-top: 10px;
	padding: 20px 20px;
}

#currentIdea {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 5px;
}

.sideBarHeader {
	margin-bottom: 2px;
	margin-top: 5px;
}

#categoryAndNotes ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

#categoryAndNotes ol {
	margin-top: 0px;
	margin-bottom: 0px;
}

h1 { 
	padding: 20px 20px;
	float:left;
}

body {
	font-family: century gothic;
}

ul {
	list-style-type: none;
}

li {
	padding-bottom: 5px;
}