.bigIdea1 {
	color: purple;
}

.bigIdea2 {
	color: blue;
}

.bigIdea3 {
	color: green;

}

.bigIdea4 {
	color: yellow;
}

.bigIdea5 {
	color: orange;
}

.bigIdea6 {
	color:red;
}

#topBar {
	background-color: #CAE1FF;
	height: 110%;
	overflow: hidden;
}

#tipBox {
	border: 1px solid black;
	width: 240px;
  	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	margin-top: 10px;
	padding: 20px 20px;
}

#currentIdea {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 5px;
}

.sideBarHeader {
	margin-bottom: 2px;
	margin-top: 5px;
}

#categoryAndNotes ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

#categoryAndNotes ol {
	margin-top: 0px;
	margin-bottom: 0px;
}

h1 { 
	padding: 20px 20px;
	float:left;
}

body {
	font-family: century gothic;
}

ul {
	list-style-type: none;
}

li {
	padding-bottom: 5px;
}